### python 
=> addition

In [1]:
a=10
b=30
c=a+b
print(c)

40

equal

In [2]:
a=10
b=10
if a==b :
    print("both")
elif a>=b :
    print("a is g")
else :
    print("b is g")

both

### usssser

In [ ]:
a=input()
b=input()
if a==b :
    print("both")
elif a>=b :
    print("a is")
else :
    print("b is")

calendar x

In [3]:
import calendar
year=int(input())
month=int(input())
c=calendar.month(year,month)
print(c)

2000
10
    October 2000
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

loop

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
x=["ukd","duk"]
y=["CRUX","RX 100"]
for i in x:
    for j in y:
       print(j,x)

CRUX ['ukd', 'duk']
RX 100 ['ukd', 'duk']
CRUX ['ukd', 'duk']
RX 100 ['ukd', 'duk']

function

In [3]:
def add(x,y):
    c=x+y
    return c
def ukd(x,y):
    c=x*y
    return c
def div(x,y):
    c=x/y
    return c
a=int(input())
b=int(input())
print(add(a,b))
print(ukd(a,b))
print(div(a,b))

200
20
220
4000
10.0

multiplication

In [1]:
num=int(input("enter table you want:"))
print("the mul of given table is",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter table you want:5
the mul of given table is 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

==>highest value

In [1]:
n=[5,45,22,65,18]
n.sort(reverse=True)
print(n[0:-2])

[65, 45, 22]

SORTING ELEMENTS INPUT FROM USER

In [9]:
l=[]
N=INT(INPUT("ENTER LENGTH OF LIST"))
for i in range(l,n+1)
t int(input("enter an element"))
l.append(t)
l.sort(print(l))
l.reverse()
print(l)

SyntaxError: invalid syntax (<ipython-input-9-4dafe092ed72>, line 3)

    most freq

In [6]:
def most_frequency(list):
    return max(set(list),key=list.count)
list=[2,3,2,2,4,5,6,7]
print(most_frequency(list))

2

In [7]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
l=[1,2,1,2,2,8,8,8,8,6,6,1]
d={}
for i in l:
    d[i]=l.count(i)
m=max(d.values())
for k in d:
    print(k)
    if m==d[k]:
        print(k,"->",m)

1
2
8
8 -> 4
6

In [3]:
l=input("enter input")
k=l.split()
for i in k:
    print(i)

enter input78+87tyh89 887tg 87869gb47t8g4fg 486g47
78+87tyh89
887tg
87869gb47t8g4fg
486g47

In [4]:
s="chandra came late,and also bad boy"
r=s.split(",")
r

['chandra came late', 'and also bad boy']

reverse of a given num